<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,0},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,0},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,0},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,0},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,0},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,0},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,77},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,77},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,77},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,77},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,77},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,77},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,77},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,77},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,77},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_fly.png</string>
            <key>size</key>
            <string>{1550,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec735ac02ec6cbdd7243e88de40efced$</string>
            <key>textureFileName</key>
            <string>hero_fly.png</string>
        </dict>
    </dict>
</plist>
